@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css');

body {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	line-height: normal;
}

body2 {
	font-family: 'Open Sans Hebrew Condensed';
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-size: 30px;
	text-align: center;

	color: #FFFFFF;
}

.main {
	display: flex;
	margin-top: 150px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main .profpic {
	width: 270px;
	height: 270px;
}

.main .bot-bar {
	margin-top: 70px;
	width: 902px;
	height: 34px;
	left: 539px;
	top: 870px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 261px;
	height: 59px;
	background: #E5C46D;
	color: white;
	border: none;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
	margin-top: 20px;

	font-family: 'Open Sans Hebrew Condensed';
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}

.button:hover {
	background-color: #000000;
	transition: 1s;
}

.main p {
	font-size: 36px;
	text-align: center;
}

.main nam {
	font-family: 'Open Sans Hebrew Condensed';
	font-weight: bold;
	font-size: 100px;
	text-align: center;
}

.blue-rec-1 {
	position: absolute;
	left: 0px;
	top: 100px;
	width: 100%;
	height: 203px;
	z-index: -1;
	background-color: #6DB3E5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.blue-rec-2 {
	display: flex;
	position: absolute;
	width: 100%;
	height: 90px;

	left: 0px;
	top: 40px;
	background: #6DB3E5;
	z-index: -1;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	justify-content: center;
	align-items: center;
}

.yellow-rec {
	position: absolute;
	width: 100%;
	height: 46px;

	left: 0px;
	top: 303px;
	z-index: -1;
	background: #E5C46D;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

.blank-rec {
	width: 170px;
	height: 100px;

	margin-right: 103px;
	background: #FFFFFF;
}

.small-yellow-rec {
	display: flex;
	width: 170px;
	height: 100px;

	margin-right: 103px;
	background: #E5C46D;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
	align-items: center;
	justify-content: center;
}

.row-sce {
	display: flex;
	flex-direction: column;
	margin-top: 125px;

	justify-content: center;
	align-items: center;
}

.col-sce {
	display: flex;
	margin-left: 95px;
	flex-direction: row;
	margin-top: 47px;
}

.day {
	display: flex;
	flex-direction: column;
	margin: 0 86px;
}

.reg-frame {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	width: 55%;
	margin: 0 auto;
}

.blue-reg {
	display: flex;
	width: 100%;
	height: 90px;
	margin-bottom: 20px;

	left: 0px;
	top: 40px;
	background: #6DB3E5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	justify-content: center;
	align-items: center;
}

.reg-row-frame {
	display: flex;
	width: 250px;
	height: 30px;

	margin-top: 10px;
	background: #E5C46D;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
	align-items: center;
	justify-content: center;
	text-align: center;

	font-family: 'Open Sans Hebrew Condensed';
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	flex: 1;
}

.att-box {
	display: flex;

}

.form-control {
	flex: 4;
	margin-top: 8px;
}

.submit-frame {
	display: flex;
	align-items: center;
	justify-content: center;

}

.submit-frame .button {
	display: flex;
	width: 130px;
	height: 40px;
	font-size: 25px;
	align-items: center;
	justify-content: center;
	color: white;

	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.main .buttons {
	display: flex;
	flex-direction: row;
}

.warna {
	background-color: #6DB3E5;
}
