{% extends "base.html" %}

<!DOCTYPE html>
<html>

{% load static %}

{% block heading %}
	<title>Profile</title>
{% endblock heading %}

{% block content %}
	<body>
		<div class="blue-rec-1"></div>
		<div class="yellow-rec"></div>
		<div class="main">
			<img class="profpic" src="{% static 'img.png' %}">
			<nam>Yusuf Tri Ardho</nam>
			<p>Hi peeps, welcome to my profile. I'm not wibu.<br>
			Undergraduate at Universitas Indonesia.</p>

			<div class="buttons">
				<a class="button warna" href="./register.html">Register Now !</a>
				<a class="button" href="./schedule.html">My Schedule ></a>
			</div>
			<img class="bot-bar" src="{% static 'bot-bar.png' %}">
		</div>
	</body>
{% endblock content %}

</html>