{% extends "base.html" %}

<!DOCTYPE html>
<html>

{% load static %}

{% block heading %}
	<title>Register Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'resp-reg.css' %}">
{% endblock heading %}

{% block content %}
	<body>
		<div class="blue-reg"></div>
		<div class="reg-frame">
			<div class="att-box">
				<div class="reg-row-frame">Nama</div>
				<input type="name" class="form-control" id="name" placeholder="Enter Name" name="email">
			</div>
			<div class="att-box">
				<div class="reg-row-frame">Tanggal Lahir</div>
				<input type="date" class="form-control" name="bday">
			</div>
			<div class="att-box">
				<div class="reg-row-frame">Email</div>
				<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
			</div>
			<div class="att-box">
				<div class="reg-row-frame">Username</div>
				<input type="name" class="form-control" id="name" placeholder="Enter username" name="email">
			</div>
			<div class="att-box">
				<div class="reg-row-frame">Password</div>
			<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
			</div>
			<div class="att-box">
				<div class="reg-row-frame">Retype password</div>
				<input type="password" class="form-control" id="pwd" placeholder="Enter password again" name="pwd">
			</div>
		</div>
		<div class="submit-frame">
			<a class="button" href="">Submit ></a>
		</div>
	</body>
{% endblock content %}

</html>