{% extends "base5.html" %}

{% load static %}

{% block title %}add schedule{% endblock %}

{% block css %}{% static 'css/story5/s5.css' %}{% endblock %}

{% block content %}
<body>
<div class="add-schedule-form">
	<h1 id="title">Add Schedule <a href="/Story-5/" class="w3-button w3-xlarge w3-red w3-card-4">< back</a></h1>
	<form method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit">
	</form>
</div>
</body>
{% endblock %}